.navbar{
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: end;
}

.links--container{
  display: flex;
  align-items: center;
}

.links{
  color: var(--bg-color);
  margin: 0 10px;
}